<div class="mt-5">
  <h2 class="text-secondary text-center">Hello les DEV-7-2021</h2>
</div>

<div>
  <ul class="nav purple-gradient py-4 mb-4 mb-md-0 font-weight-bold z-depth-1 nav-fill w-100">
    <li class="nav-item">
      <a class="nav-link active white-text" routerLink="memos">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link white-text" routerLink="memos-prive">Memos Privé</a>
    </li>
    <li class="nav-item">
      <a class="nav-link white-text" routerLink="memos-public">Memos Public</a>
    </li>
    <li class="nav-item">
      <a class="nav-link white-text" routerLink="event">Evenement</a>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-sm-6 text-center mt-3">
    <strong class="text-info">new memo &nbsp;&nbsp;</strong>
    <button mat-fab color="primary" (click)="callMydial()" aria-label="Example icon button with a delete icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>


<router-outlet></router-outlet>